/* Custom CSS by Garrett Estrin */

body {
  margin: 100px auto;
  width: 800px;
  height: 400px;
}

h1 {
  font-size: 100px;
  font-family: Arial, sans-serif;
  font-weight: 600;
  text-align: center;
  color: #98c75e;
  margin-top: -70px;
}
.hole {
  height: 90px;
  width: 90px;
  margin: 5px;
  border: solid black 10px;
  float: left;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #98c75e;
  text-align: center;


}

#container {
  width: 360px;
  height: 308px;
  float: none;
  border: none;
  margin: 0 auto;
}

#score-board {
  margin: 20px auto;
  font-size: 80px;
  font-family: Helvetica, sans-serif;
  color: green;
  text-align: center;
}


img {
  margin-top: 12px;
}

#start-game-button {
  width: 70px;
  height: 40px;
  background-color: #98c75e;
  margin: 0 auto;
  border: solid black 5px;
  border-radius: 10%;
  text-align: center;
  display: inline-block;
  float: left;
}

#reset-game-button {
  width: 70px;
  height: 40px;
  background-color: #98c75e;
  margin: 0 auto;
  border: solid black 5px;
  border-radius: 10%;
  text-align: center;
  display: inline-block;
  float: right
}

#controls {
  width: 200px;
  height: 150px;
  clear: both;
  margin: 90px auto;
}
