/* Custom CSS by Garrett Estrin */

body {
  margin: 100px auto;
  width: 800px;
  height: 800px;
}
div {
  height: 90px;
  width: 90px;
  margin: 5px;
  border: solid black 10px;
  float: left;
  border-radius: 50%;


}

#container {
  width: 360px;
  height: 308px;
  float: none;
  border: none;
}

.green {
  background-color: green;
}
